/* src/App.css */
.col {
  flex: 0 0 auto;
}

/* Reset the flex properties */
.App {
  text-align: justify;
  font-family: Arial, sans-serif;
}

.App-main {
  padding-top: 6em;
  padding-bottom: 2em;
}

.leaf-action {
  text-align: center;
  margin-top: 2.2rem;
  margin-bottom: 2.7em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  background-position: center;
  background-size: cover;
  /* position: relative; */
  background-color: #00a54e;
  color: white;
  border-top-left-radius: 4em;
  border-bottom-right-radius: 4em;
  max-width: 80%;
  max-height: 80px;
  cursor: pointer;
}

.leaf-action h3 {
  color: white;
  font-size: x-large;
  text-align: center;
  margin-bottom: 0.1em;
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
}

.App h1 {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  margin-top: 0.3em;
  margin-bottom: 0.1em;
}

.App-about {
  padding: 20px;
  background-color: #f0f0f0;
}

.App-about h2 {
  color: #333;
}

.App-about p {
  color: #555;

}

.card-group card {
  padding: 0.2em;
  border: #333;
  margin: 0.6em;
}

.card-img-top {

  max-height: 15vw;
  min-height: 20em;
  object-fit: cover;
}

.card-group button {
  margin-top: auto;
}

.App-history div {
  padding: 0.3em;
  align-items: center;
}

.App-history p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-inline: 1em;
  padding-top: 1em;
  padding-bottom: 0.2em;
}

.App-history img {
  width: 100%;
  max-height: min-content;
  border-radius: 5%;
}

.grass-img {  
  height: 50px;
}

.App-gamefound{
  padding: 2em;
  align-items: center;
  border-radius: 2%;
  position: relative;
}

.App-gamefound .container-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
}
.App-gamefound .content {
  position: relative;
  z-index: 1;
}

.socials img{
  padding-bottom: 2em;
}

.logoFiller img {
  height: 1em;
  mask-repeat: repeat;
  height: 3%;
}

.img-flip {
  transform: rotateY(180deg);
  transform: rotateX(180deg);
}

.social-media {
  justify-content: center;
  padding-top: 1em;
}

.social-media h4 {
  margin-top: auto;
  padding-right: 1em;
}

.social-media-icon{
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.3em;
}

.coolfishcol{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.coolfish {
  width: 100%
}

.baratta{
  width: 100%;
}

@media (min-width: 400px) and (max-width: 4000px) {
  .App-history p {
    padding-left: 10%;
    padding-right: 10%;
  }
  p {
    font-size: large;
  }
}

@media (max-width: 575px) {
  .call_to_action_button_text_1 {
    display: none;
  }
  .call_to_action_button_text_2{
    display: none;
  }
  p {
    font-size: medium;
  }
  .social-media h4 {
    display: none;
  }
  
}
@media (min-width: 575px) {
  .call_to_action_button_text_1_short {
    display: none;
  }
  .call_to_action_button_text_2_short{
    display: none;
  }

}

