/* src/App.css */
.col {
  flex: 0 0 auto;
}

/* Reset the flex properties */
.App {
  text-align: justify;
  font-family: Arial, sans-serif;
}

.App-main {
  padding-top: 6em;
  padding-bottom: 2em;
}

.leaf-action {
  text-align: center;
  margin-top: 2.2rem;
  margin-bottom: 2.7em;
  padding-top: 2em;
  padding-bottom: 2em;
  background-position: center;
  background-size: cover;
  position: relative;
}

.leaf-action a {
  font-size: x-large;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
}

.App h1 {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  margin-top: 0.3em;
  margin-bottom: 0.1em;
}

.App-about {
  padding: 20px;
  background-color: #f0f0f0;
}

.App-about h2 {
  color: #333;
}

.App-about p {
  color: #555;

}

.card-group card {
  padding: 0.2em;
  border: #333;
  margin: 0.6em;
}

.card-img-top {

  max-height: 15vw;
  min-height: 20em;
  object-fit: cover;
}

.card-group button {
  margin-top: auto;
}

.App-history div {
  padding: 0.3em;
  align-items: center;
}

.App-history p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-inline: 1em;
  padding-top: 1em;
  padding-bottom: 0.2em;
}

.App-history img {
  width: 100%;
  max-height: min-content;
  border-radius: 5%;
}

.grass-img {  
  height: 50px;
}

.App-gamefound{
  padding: 2em;
  align-items: center;
  border-radius: 2%;
  position: relative;
}

.App-gamefound .container-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
}
.App-gamefound .content {
  position: relative;
  z-index: 1;
}

.socials img{
  padding-bottom: 2em;
}

.logoFiller img {
  height: 1em;
  mask-repeat: repeat;
  height: 3%;
}

.img-flip {
  transform: rotateY(180deg);
  transform: rotateX(180deg);
}

@media (min-width: 400px) and (max-width: 4000px) {
  .App-history p {
    padding-left: 10%;
    padding-right: 10%;
  }
  
}